<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/module.css" />
  </head>
  <body>
    <div>
      <header>
        <section class="hero">
          <h1 class="hero-message">
            <div>Hero layout with</div>
            <div>Open Props</div>
          </h1>
          <p class="under-hero">
            Lorem ipsum dolor sit amet consectetu adipisicing elit. Nemo in
            doloremque quam, voluptatibus eum voluptatum.
          </p>
          <div class="button-list">
            <button class="primary"><a href="/signUp-page">Sign Up</a></button>
            <button><a href="/log-in">Log in</a></button>
          </div>
        </section>
        <picture class="promo-art">
          <img
            src="https://doodleipsum.com/700x700/outline?bg=3b5bdb"
            height="800"
            width="800"
            alt="a random doodle"
          />
        </picture>
      </header>
    </div>
  </body>
</html>
